<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>org.sarmg.sunshine-client</string>
<key>ProgramArguments</key><array><string>/usr/local/libexec/sunshine-client</string><string>run</string><string>--state</string><string>/Library/Application Support/sunshine-client</string></array>
<key>UserName</key><string>_sunshineclient</string>
<key>GroupName</key><string>_sunshineclient</string>
<key>WorkingDirectory</key><string>/Library/Application Support/sunshine-client</string>
<key>RunAtLoad</key><true/>
<key>KeepAlive</key><dict><key>SuccessfulExit</key><false/></dict>
<key>ThrottleInterval</key><integer>60</integer>
<key>ExitTimeOut</key><integer>35</integer>
<key>Umask</key><integer>63</integer>
<key>StandardOutPath</key><string>/var/log/sunshine-client.log</string>
<key>StandardErrorPath</key><string>/var/log/sunshine-client.log</string>
</dict></plist>
